@import 'tailwindcss';
@import 'uniwind';

@theme {
    /* Font Families */

    /* Font sizes */
    --text-base: 18px;

    /* Colors */
    --color-background: '#FAFAFA';
    --color-accent-green: '#004235';
    --color-accent-orange: '#E65E44';
    --color-accent-pink: '#EEA4C8';
    --color-accent-yellow: '#F59F00';


    /* TBC */
    --color-grey: '#B1B1B1';
    --color-pill: '#F2F2F2';
    --color-beige: '#F5F0E8';
    --color-separator: '#E9E9E9';
    --color-inactive: '#E3E3E3';
    --color-facebook: '#0866ff';
}